#toolbar-container {
    position: fixed;
    margin-left: auto;
    margin-right: 0;
    width: 100%;
    z-index: 2;

}

#toolbar-container div {
    margin-right: 49px;
    float: right;
    padding: 4px;
    clear: both;
    background-color: #fff;

}

.annotate .btn {
    border-color: #ccc;
    background-color: #fff;
}

.annotate .btn.active {
    background-color: #286090;
    color: #fff;
}

.entity-snippet-li {
    display: inline-table;
    width: 400px;
    text-align: left;
    background-color: #dce7f1;
    border-style: solid;
    border-width: thin;
    border-color: #a9d1f5;
    border-radius: 20px;
    padding: 20px;
    margin: 4px;
    vertical-align: top;
}

a {
    color: #005dac;
}

a:hover {
    color: #005dac;
    text-decoration: underline;
}